<form [formGroup]="formUpdate">
<div class="former">

    <input formControlName="name" formControlName="id" type="hidden">

<p>
  <mat-form-field floatLabel="auto" appearance="fill">
    <mat-label>Nom</mat-label>
    <input formControlName="name" matInput required>
  </mat-form-field>
</p>
<p>
  <mat-form-field floatLabel="auto" appearance="fill">
    <mat-label>Prénom</mat-label>
    <input formControlName="firstname" matInput required>
  </mat-form-field>
</p>
  <p>

  <mat-form-field floatLabel="auto" appearance="fill">
    <mat-label>Date de naissance</mat-label>
    <input formControlName="birthdate" matInput required >
  </mat-form-field>
</p>
<p>
  <mat-form-field floatLabel="auto" appearance="fill">
    <mat-label>SecurityCard</mat-label>
    <input matInput formControlName="securitycardnumber" required>
  </mat-form-field>
</p>
<p>
  <mat-form-field floatLabel="auto" appearance="fill">
    <mat-label>Date d'entrée en service</mat-label>
    <input matInput formControlName="entryService" required>
  </mat-form-field>
</p>
<p>
  <mat-form-field floatLabel="auto" appearance="fill">
    <mat-label>Nr° de registre national</mat-label>
    <input matInput formControlName="registreNational" required>
  </mat-form-field>
</p>
</div>


<div class="former">
<p>
  <mat-form-field floatLabel="auto" appearance="fill">
  <mat-label>Nr d'employée</mat-label>
  <input matInput formControlName="employeeCardNumber" required>
</mat-form-field>
</p>
<p>
<mat-form-field floatLabel="auto" appearance="fill">
  <mat-label>Statut</mat-label>
  <input matInput formControlName="role" required>
</mat-form-field>
</p>
<p>
<mat-form-field floatLabel="auto" appearance="fill">
  <mat-label>Pays</mat-label>
  <input matInput formControlName="Country" required>
</mat-form-field>
</p>

<p>
  <mat-form-field floatLabel="auto" appearance="fill">
    <mat-label>Nom de rue</mat-label>
    <input matInput formControlName="street" required>
  </mat-form-field>
  </p>

  <p>
    <mat-form-field floatLabel="auto" appearance="fill">
      <mat-label>Nom de rue</mat-label>
      <input matInput formControlName="streetnbr" required>
    </mat-form-field>
    </p>

    <p>
      <mat-form-field floatLabel="auto" appearance="fill">
        <mat-label>Code Postale</mat-label>
        <input matInput formControlName="postcode" required>
      </mat-form-field>
      </p>

      <p>
        <mat-form-field floatLabel="auto" appearance="fill">
          <mat-label>Nr de téléphone</mat-label>
          <input matInput formControlName="phone" required>
        </mat-form-field>
        </p>

<br>



</div>



</form>
