
<div class="regform">
  <h2>Mise à jour d'un agent</h2>
</div>

<div class="mane">
  <form [formGroup]="formUpdate" (ngSubmit)="PutEmployee()">
  <div id="name">
    <input formControlName="id" type="hidden">
    <h3 class="name">Nom</h3>

    <mat-form-field floatLabel="auto" appearance="fill">
      <mat-label>Nom de famille</mat-label>
      <input formControlName="name" matInput required>
    </mat-form-field>

    <mat-form-field floatLabel="auto" appearance="fill">
      <mat-label>Prénom</mat-label>
      <input formControlName="firstName" matInput required>
    </mat-form-field>
  </div>

  <h4 class="name">Nr° de téléphone</h4>
  <mat-form-field floatLabel="auto" appearance="fill">
    <mat-label>Nr° de téléphone</mat-label>
    <input matInput formControlName="phone" required>
  </mat-form-field>

  <h4 class="name">Email</h4>
  <mat-form-field floatLabel="auto" appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" required>
  </mat-form-field>

  <div id="adress">

    <h3 class="name">Adresse</h3>

    <mat-form-field floatLabel="auto" appearance="fill">
      <mat-label>Nom de rue</mat-label>
      <input matInput formControlName="street" required>
    </mat-form-field>

    <mat-form-field floatLabel="auto" appearance="fill">
      <mat-label>Nr° de rue</mat-label>
      <input matInput formControlName="streetNumber" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Code Postale</mat-label>
      <input matInput [matAutocomplete]="autoNationality" formControlName="postcode"  required>
        <mat-autocomplete #autoNationality="matAutocomplete" >
          <mat-option *ngFor="let elt of town"  [value]=" elt.ville +' '+ elt.codePostal">
            {{elt.ville}} {{elt.codePostal}}
          </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Pays</mat-label>
      <input matInput [matAutocomplete]="auto" formControlName="country"  required>
        <mat-autocomplete #auto="matAutocomplete" >
          <mat-option *ngFor="let elts of country"  [value]="elts.name">
            {{elts.name}}
          </mat-option>
        </mat-autocomplete>
    </mat-form-field>

  </div>

  <div id="Informations">
    <h3 class="name">Informations de l'agent</h3>

    <mat-form-field appearance="fill">
      <mat-label>Departement</mat-label>
      <input matInput [matAutocomplete]="autodept" formControlName="departement"  required>
        <mat-autocomplete #autodept="matAutocomplete" >
          <mat-option *ngFor="let elt of dept"  [value]="elt.name">
            {{elt.name}}
          </mat-option>
        </mat-autocomplete>
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>Statut</mat-label>
      <input matInput [matAutocomplete]="autostatut" formControlName="role"  required>
        <mat-autocomplete #autostatut="matAutocomplete" >
          <mat-option *ngFor="let elt of stat"  [value]="elt.classeName">
            {{elt.classeName}} {{elt.classe}}
          </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <mat-form-field floatLabel="auto" appearance="fill">
      <mat-label>Nr° de carte ministérielle</mat-label>
      <input matInput formControlName="securityCard" required>
    </mat-form-field>

    <mat-form-field floatLabel="auto" appearance="fill">
      <mat-label>Date d'entrée en service</mat-label>
      <input matInput formControlName="entryService" required>
    </mat-form-field>

    <mat-form-field floatLabel="auto" appearance="fill">
      <mat-label>Nr d'employée</mat-label>
      <input matInput formControlName="employeeCardNumber" required>
    </mat-form-field>

  </div>
    <h4 class="name">Nr° de registre national</h4>
    <mat-form-field floatLabel="auto" appearance="fill">
      <mat-label>Nr° de registre national</mat-label>
      <input matInput formControlName="registreNational" required>
    </mat-form-field>

    <h4 class="name">Date de naissance</h4>
    <mat-form-field floatLabel="auto" appearance="fill">
      <mat-label>Date de naissance</mat-label>
      <input formControlName="birthDate" matInput required >
    </mat-form-field>

    <button type="submit">Appliquer</button>
  </form>
</div>




